<div class="left-0 h-full overflow-hidden top-1">
<div class="flex h-full flex-col">
  <div class="flex min-h-0 flex-1 overflow-hidden">
    <div class="min-w-0 flex-1 border-t border-gray-200 lg:flex mb-8 md:mb-0 sm:mb-0 lg:mb-0">
      <!-- Primary column -->
      <div aria-labelledby="primary-heading" class=" mt-10 flex h-full min-w-0 flex-1 flex-col overflow-y-auto lg:order-last">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <h2 class="mt-8 pl-10 text-3xl font-extrabold tracking-tight text-blue-900 ">Liste des adhérants</h2>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <button routerLink="/adherent" type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-amber-400 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-amber-400 focus:outline-none focus:ring-2 focus:ring-amber-300 focus:ring-offset-2 sm:w-auto">Ajouter un adhérant</button>
            </div>
          </div>
          <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nom</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Prénom</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Téléphone</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Domicile</th>
                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white" *ngFor="let user of userModel">
                    <tr  *ngIf="user.montantAdhesion==40">
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                        <div class="flex items-center">
                          <div class="ml-4">
                            <div class="font-medium text-gray-900">{{ user.nom }}</div>
                          </div>
                        </div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                        <div class="text-gray-900">{{ user.prenom }}</div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                        <div class="text-gray-900">{{ user.telephone }}</div>
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.domicile }}</td>
                      <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                        <a href="#">
                          <img class="h-6 w-6" src="assets/Icon awesome-eye.svg" alt="hocoulou">
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Secondary column (hidden on smaller screens) -->
     <!-- <aside class="hidden lg:order-first lg:block lg:flex-shrink-0">
        <div class="relative flex h-full w-96 flex-col overflow-y-auto border-r border-gray-200 bg-gray-100">
          <h2 class="mt-8 pl-10 text-3xl font-extrabold tracking-tight text-blue-900 ">Liste des adhérants</h2>
        </div>
      </aside>-->
    </div>
  </div>
</div>
</div>
