<div class="container">
<head>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b435947ef0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/png" href="images/fav-B.svg" />
  <link rel="stylesheet" href="https://use.typekit.net/xww8teo.css">
  <link rel="stylesheet" href="https://use.typekit.net/ncz6oql.css">
  <link rel="stylesheet" href="https://use.typekit.net/hhe7rob.css">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="src/tailwing.config.js">
  </script>
</head>
<div class="flex flex-col items-center px-4 py-8 mx-auto mt-20 max-w-7xl text-center lg:px-6 lg:py-16 lg:mt-32 md:flex-row lg:text-left">
  <div class="lg:w-1/2">
    <h1 class="block text-4xl font-semibold text-center text-blue-900 md:text-left sm:text-5xl xl:inline">
      Caisse Hocolou        </h1>
    <p class="mx-auto mt-6 max-w-md text-xl text-justify text-blue-900 md:text-left md:mt-5 md:max-w-3xl font-base">
      Le fonds HOCOLOU permet aux expatriés mauritaniens de la commune de Dafort de contribuer en vue de s'aider les uns les autres.
    </p>
    <div class="mt-10 sm:flex sm:justify-center md:justify-start">
      <div>
        <div class="flex relative items-center text-center rounded-md">
              <span class="px-8 py-3 font-base text-white  bg-amber-500 rounded-full border-transparent shadow cursor-pointer hover:bg-lim-700 md:py-4 md:text-lg md:px-10" data-href="aHR0cHM6Ly93d3cuY2VnZWxlbS5mci9jb250YWN0Lw==">
                Contactez-nous
              </span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-8 w-2/3 lg:justify-end lg:w-1/2 lg:mt-0">
    <img class="object-cover lg:object-fill lg:h-96 lg:w-76" src="assets/hero.svg" alt="">
  </div>
</div>
<div class="relative px-4 pb-16 w-full bg-slate-50 lg:pb-0 lg:z-10 sm:px-6">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
    <div class="relative lg:-my-8">
      <div aria-hidden="true" class="absolute inset-x-0 top-0 -mx-4 w-screen h-1/2 bg-white md:-mx-6 lg:hidden"></div>
      <div class="px-4 mx-auto max-w-md sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
        <div class="overflow aspect-w-4 aspect-h-5 lg:aspect-none lg:h-full ">
          <img class="object-cover lg:h-full lg:w-full" alt="" src="assets/2.png">
        </div>
      </div>
    </div>
    <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
      <div class="px-4 mx-auto max-w-md sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
        <blockquote>
          <div>
            <svg class="w-12 h-12 text-blue-900 opacity-80" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"></path>
            </svg>
            <h1 class="block text-4xl font-semibold text-center text-slate-900 md:text-left sm:text-5xl xl:inline">
              Histoire de la commune de Dafort</h1>
            <p class="mt-6 text-2xl font-regular text-white font-regular text-blue-900">
              Dafort a été érigée en commune par l'ordonnance du 20 octobre 1987 instituant les communes de Mauritanie2.
            </p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-24 prose lg:prose-lg hover:prose-a:text-amber-500 hover:prose-a:underline hover:prose-p:no-underline prose-h3:text-amber-400">
  <div class="not-prose">
    <h2 class="text-3xl font-semibold tracking-tight leading-8 text-center text-gray-900 sm:text-4xl">
      <a>Ce qu'il faut savoir sur la commune de Dafort</a>
    </h2>
  </div>
  <div class="mt-16 space-y-16 text-lg font- text-gray-900 hover:prose-a:no-underline">
    <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">

      <div class="mt-6 lg:mt-0 lg:col-span-8 prose-a:no-underline">
        <h3 class="text-center semibold underline lg:text-left text-amber-400 group-hover:text-amber-700">Géographie de la commune de Dafort </h3>
        <p class="mt-2 text-gray-500 font-regular">
          La commune de Dafort est située dans la région de Guidimakha, au sud de la Mauritanie. Elle est positionnée à l'ouest dans le département d'Ould Yengé et elle s'étend sur 276 km2. Elle est délimitée au nord par la commune de Bouanzé, à l’est par la commune de Tektake, au sud par la commune de Boully, à l’ouest par les communes de Tachott et d'Ould M'Bonny.                  </p>
      </div>
      <div class="overflow-hidden mx-auto w-72 rounded-lg sm:flex-auto lg:col-span-4">
        <img class="object-cover object-center" src="assets/3.png" alt="">
      </div>

    </div>
    <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
      <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-7 xl:col-span-8 lg:col-start-6 xl:col-start-6 prose-a:no-underline">
        <h3 class="text-center underline lg:text-left text-amber-400 group-hover:text-amber-700">
          Démographie de la commune de Dafort </h3>
        <p class="mt-2 text-gray-500 font-bas">
          Lors du Recensement général de la population et de l'habitat (RGPH) de 2000, Dafort comptait 11 593 habitants3. Lors du RGPH de 2013, la commune en comptait 15 8443, soit une croissance annuelle de 2,5 % sur 13 ans.                  </p>
      </div>
      <div class="overflow-hidden mx-auto w-72 rounded-lg sm:flex-auto lg:row-start-1 lg:col-span-5 xl:col-span-4 lg:col-start-1">
        <img class="object-cover object-center" src="assets/5.png" alt="">
      </div>
    </div>
    <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
      <div class="mt-6 lg:mt-0 lg:col-span-8 prose-a:no-underline">
        <h3 class="text-center text-semibold underline lg:text-left text-amber-400 group-hover:text-amber-700">Administration</h3>
        <p class="mt-2 text-gray-500 font-regular">
          Dafort fait partie depuis 2018 de l'arrondissement de Lahraj, dont Lahraj est le chef-lieu4. Elle n'était auparavant rattachée à aucun arrondissement. La mise en place de ce nouvel arrondissement a été remise en question par de nombreuses personnes car rien ne la justifiait et elle pose problème à de nombreux habitants5.                  </p>
      </div>
      <div class="overflow-hidden mx-auto w-72 rounded-lg sm:flex-auto lg:col-span-4">
        <img class="object-cover object-center" src="assets/4.png" alt="">
      </div>
    </div>
    <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
      <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-7 xl:col-span-8 lg:col-start-6 xl:col-start-6 prose-a:no-underline">
        <h3 class="text-center font-semibold underline lg:text-left text-amber-400 group-hover:text-amber-700">Économie</h3>
        <p class="mt-2 text-gray-500 font-regular">
          L'agriculture est au centre de l'économie de Dafort, comme quasiment toutes les communes de la région. Mais cette économie est fragile car elle rencontre des obstacles à son développement, notamment les conditions climatiques ou le manque de moyens des agriculteurs. Pour faire face à ces obstacles, l'état ou différentes ONG financent des projets qui améliorent les conditions de vie des habitants. Un projet de mise en place d’un réseau d’eau potable a par exemple été lancé en 2021 dans le village de Lefkarine6.                  </p>
      </div>
      <div class="overflow-hidden mx-auto w-72 rounded-lg sm:flex-auto lg:row-start-1 lg:col-span-5 xl:col-span-4 lg:col-start-1">
        <img class="object-cover object-center" src="assets/6.png" alt="">
      </div>
    </div>
    <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
      <div class="mt-6 lg:mt-0 lg:col-span-8 prose-a:no-underline">
        <h3 class="text-center text-semibold underline lg:text-left text-amber-400 group-hover:text-amber-700">Santé et éducation</h3>
        <p class="mt-2 text-gray-500 font-regular">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.               </div>
      <div class="overflow-hidden mx-auto w-72 rounded-lg sm:flex-auto lg:col-span-4">
        <img class="object-cover object-center" src="assets/7.png" alt="">
      </div>
    </div>
  </div>
</div>
</div>
